<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>StibAlert utilise votre position pour afficher votre point de départ et votre itinéraire en temps réel.</string>
	<key>NSCameraUsageDescription</key>
	<string>StibAlert utilise la caméra pour joindre une photo à vos signalements.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>StibAlert accède à votre bibliothèque pour joindre une photo à vos signalements.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>StibAlert utilise le micro pour permettre les commandes vocales de Stibi.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>StibAlert utilise la reconnaissance vocale pour transcrire vos commandes à Stibi.</string>
	<key>GOOGLE_MAPS_3D_API_KEY</key>
	<string></string>
	<key>OneSignalAppID</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stibalert</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DelaGothicOne-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
</dict>
</plist>
